SUPABASE_URL= https://htmgibujjcupmqhlzqqa.supabase.co
SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0bWdpYnVqamN1cG1xaGx6cXFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDUwMzQsImV4cCI6MjA5NDY4MTAzNH0.9Z2NDFFMYBffrmjOyDBvSs9uCosa2Yd7_hISUHiM-0A
SUPABASE_SERVICE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0bWdpYnVqamN1cG1xaGx6cXFhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTEwNTAzNCwiZXhwIjoyMDk0NjgxMDM0fQ._fjwwD-1mTuyrzjpddyZtrf7590n-Tq8_MenHBHYA_Q
LANDINGAI_API_KEY= NDBxNnkyNWI2aWVnOWsybWZ3cXhxOk1meGNyUXQxMzNyS2xqYVZGMW1JR1ZaRldXT1FHZ2Ru
